.fetch-url-container {
  border: 1px solid black;
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.5rem;
}

.fetch-url-input {
  width: 60%;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
}

.fetch-url-label {
  color: blue;
}

@media only screen and (min-width: 800px) {
  .fetch-url-input {
    width: 75%;
  }
}

@media only screen and (max-width: 400px) {
  .fetch-url-input {
    width: 11rem;
  }
}
